body {
  margin: 0;
  background-image: url("man.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 100%;
  overflow: hidden;
}
p {
  font-family: system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Open Sans,Helvetica Neue,sans-serif;
  color: white;
  position: fixed;
  text-align: center;
  bottom: 1em;
  width: 100%;
}
a {
  color: white;
}