body {
  margin: 0;
  background-image: url("man.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 100%;
  overflow: hidden;
}
p {
  font-family: system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Open Sans,Helvetica Neue,sans-serif;
  color: lightgray;
  position: fixed;
  text-align: center;
  bottom: 1em;
  font-size: 1.3em;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  padding: 0.1em 0.3em 0.3em 0.3em;
  backdrop-filter: blur(10px) brightness(75%);
  -webkit-backdrop-filter: blur(10px) brightness(75%);
  border-radius: 12px;
}
a {
  color: lightgray;
}
img {
  height: 1em;
  vertical-align: middle;
  border-radius: 50%;
}